{% extends "account/base.html" %}

{% load i18n %}
{% block content %}
<div style="text-align: center;">
            <div class="col-md-6" style="margin: auto; height: auto">
          <div class="card bg-dark text-white" style="margin: 1rem;">

{% block head_title %}{% trans "Set Password" %}{% endblock %}


    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
    </div>
    </div>
    </div>
{% endblock %}
