{% extends 'mainHTML.html' %}
{% block content %}
<body style="overflow-x: hidden; background-color: beige; ">
<div class="col-md-6" style="margin: auto; ">
        <div class="card bg-dark text-white" style="margin: 8rem">
            <div style="margin: 1rem"></div>
            <form style="margin: auto" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="margin: 1rem"></div>
            <button type="submit" class="btn btn-warning">Add task</button>
            </form>
    </div>
</div>
</body>

{% endblock %}