{% extends 'mainHTML.html' %}
{% block content %}
<div class="row" style="background: beige; margin: 5rem">
    <div class="col-md-6" style="margin: auto; height: auto">
      <form action="/update/{{id}}">
              <div class="card bg-dark text-white" style="margin: 1rem;">
                  <div style="margin: 1rem">
                <div class="form-group">
                  <label for="title">Title</label>
                  <textarea class="form-control" id="title" name="title" rows=1 >{{title}}</textarea>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" rows="3">{{description}}</textarea>
                </div>
                <div class="form-group">
                  <label for="priority">Points</label>
                  <input type="number" class="form-control" id="points" name="points" value={{points}}>
                </div>
                  <div class="form-group">
                  <label for="priority">Level of difficulty</label>
                  <select name="LevelOfDifficulty" class="form-control" id="LevelOfDifficulty" >
                          <option value="" disabled selected>Choose new Level of difficulty</option>
                          <option value="Easy">Easy</option>
                          <option value="Medium">Medium</option>
                          <option value="Hard">Hard</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="isDone">Is it done?</label>
                    <select name="isDone" class="form-control" id="isDone" >
                        <option value="" disabled selected>Is this task done?</option>
                        <option value="False">False</option>
                        <option value="True">True</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" style="margin: 0 auto;display: block;">Update</button>
              </div>
            </div>
      </form>
      </div>
  </div>
{% endblock %}