    <script>
    $(targetSelector).sort(function (a, b) {
         var result = $('div').sort(function (a, b) {

          var contentA =parseInt( $(a).data('sort'));
          var contentB =parseInt( $(b).data('sort'));
          return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
       });

       $('#mylist').html(result);
    }).appendTo($container);

    </script>

  <div class="main">

        {% for data in xd %}
          <div style="text-align: center;" data-sort={{  data.0.total}}>
            <div class="bg-image hover-overlay ripple shadow-1-strong rounded custom" data-ripple-color="light">
              {{ data.0.id_Lobby__users__username }}  {{ data.0.total}}
              <div class="p-4 bg-dark rounded shadow-sm text-white">
                  <br/>
              </div>
            </div>
            <hr/>
          </div>
        {% endfor %}
  </div>
<div onload=""></div>
  </body>
