{% extends 'mainHTML.html' %}
{% block content %}
    <body>
<div style="margin: 1rem;"></div>
  <div class="main">
  <div style="text-align: center;font-family: Verdana;  ">
    <h1>All Users Ranking</h1>
  </div>
    <table class="table" style="background: white">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Place</th>
          <th scope="col">User</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
    {% for data in leaderboard %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ data.id_Lobby__users__username }}</td>
          <td>{{ data.total}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>
{% endblock %}