{% extends 'mainHTML.html' %}
{% block content %}
<body style="overflow-x: hidden; background-color: beige;">
<div style="margin: 1rem">
{% for lobby in alllobbys %}
  <div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body">
            <label>
              <div class="card-body">
              <h5 class="card-title">{{lobby.name}}</h5>
                  <p class="card-text">{{lobby.description}}</p>
            </div>
                <a href="SelectLobby/{{lobby.id}}" class="btn btn-danger">Select</a>
            </label>

        </div>
    </div>
    </div>
  </div>
<div style="margin-top: 1rem;"></div>
{% endfor %}

</div>

{% endblock %}
