<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body style="overflow-x: hidden; background-color: beige;">
{% include 'navBar.html' %}
<div style="margin: 1rem">
{% block title %}{% endblock %}
{% block content %}

{% for lobby in alllobbys %}
  <div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body">
            <label>
              <div class="card-body">
              <h5 class="card-title">{{lobby.name}}</h5>
                  <p class="card-text">{{lobby.description}}</p>
            </div>
                <a href="SelectLobby/{{lobby.id}}" class="btn btn-danger">Select</a>
            </label>

        </div>
    </div>
    </div>
  </div>
<div style="margin-top: 1rem;"></div>
{% endfor %}
{% endblock %}
</div>
</body>

</html>
